*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
Data/
contrib/
.\#*
*.DS_Store
logs
.vscode
*.d
*.so
*.pcm
*.npy
*.pyc
*.json
*.pdf
*.png
*.root
plots
*.csv
data/*
temp/
analysis/geometry_update/*
analysis/output/*
prebuild/
analysis/venv/
analysis_old/
