*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
Data/
contrib/apts-dpts-ce65-daq-software
contrib/eudaq2
.\#*
*.DS_Store
logs
.vscode
*.d
*.so
*.pcm
*.npy
*.pyc
plots
*.csv
MOSS/*
data/*